*{
	margin: 0;
	paading: 0;
}
#div{
	/* height: 6579px; */
	height: 1330px;
	position: relative;
	/* overflow: hidden; */
}
#goodsTool{
	top:0px;
	width:100%;
	height: 20px;
}
#goodsSear{
	top:0px;
	width: 100%;
	height: 50px;
	position: sticky;
	background-color: rosybrown;
	z-index: 99;
}
#goodsDiv{
	left: 10%;
	width: 80%;
	height: 1350px;
	background-color: antiquewhite;
	position: relative;
	/* overflow: scroll; */
}
#goodsPic{
	top: 0;
	width: 400px;
	height: 550px;
	margin: 10px;
	border: 1px solid #ccc;
	position: absolute;
	z-index: 1;
}
#goodsAttr{
	top: 0;
	left: 450px;
	width: 700px;
	height: 550px;
	border: 1px solid #ccc;
	position: absolute;
	margin: 10px;
}
#goodsIntr{
	top:594.5px;
	left: 30%;
	width: 750px;
	/* height: 5937px; */
	border:1px solid #CCCCCC;
	height: 700px;
	margin-bottom: 10px;
	padding: 0;
	position: relative;
	overflow: hidden;
}
#goodsIntr img{
	float: left;
}
#goodsAdv{
	z-index: 999;
	width: 10%;
	top:0;
	left:0;
	position: absolute;
}
