*{
	margin: 0;
	padding: 0;
}
#picDiv1{
	width: 400px;
	height: 400px;
	position: absolute;
	overflow: hidden;
}
#picImg{
	width: 1600px;
	height: 400px;
	position: absolute;
	z-index: 1;
}
#picImg img {
	float: left;
	width: 400px;
	height: 400px;
}
#picDiv2{
	bottom: 15px;
	left:35px;
	width: 340px;
	height: 110px;
	overflow: hidden;
	position: absolute;
	z-index: 1;
}
#picThum{
	position: absolute;
	width: 460px;
	height: 100px;
	cursor: pointer;
	display: inline-block;
	z-index: 1;
}
#picThum img{
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	height: 100px;
	width: 100px;
}
#picThum span.on{
	opacity: 0.5;
	border: 0px solid #000000;
}
.picArrow{
	position:absolute;
	top:80%;
	color: #CCC;
	line-height: 100px;
	text-align: center;
	font-size: 30px;
	z-index: 1;
	cursor: pointer;
}
.arrow_left{
	left: 10px;
}
.arrow_right{
	right: 10px;
}
#picDiv3{
	position: absolute;
	top: 0px;
	left: 450px;
	width: 400px;
	height: 400px;
	overflow: hidden;
	border: 2px solid #CCC;
	display: none;
}
#picBig{
	position: absolute;
	width: 3200px;
	height: 800px;
	
}
#picBig img{
	float: left;
	width: 800px;
	height: 800px;
}
#picMagn{
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	background: #fff;
	opacity: 0.3;
	position: absolute;
	display: none;
}
